<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="col-3 col-6-medium col-12-small">

				<!-- Links -->
					<section>
						
						<h2>Filler Links</h2>
						<ul class="divided">
							<li><a href="#">Начало</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ul>
					</section>

			</div>
			<div class="col-3 col-6-medium col-12-small">

				<!-- Links -->
					<section>
						<h2>More Filler</h2>
						<ul class="divided">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ul>
					</section>

				<!-- Links -->
					<section>
						<h2>Even More Filler</h2>
						<ul class="divided">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ul>
					</section>

			</div>
			<div class="col-6 col-12-medium imp-medium">

				<!-- Contact -->
					<section>
						<h2>Get in touch</h2>
						<div>
							<div class="row">
								<div class="col-6 col-12-small">
									<dl class="contact">
										@await Html.PartialAsync("SelectLanguagePartial")
										<dt>Twitter</dt>
										<dd><a href="#">@@@Config.CompanyName</a></dd>
										<dt>Facebook</dt>
										<dd><a href="#">facebook.com/@Config.CompanyName</a></dd>
										<dt>WWW</dt>
										<dd><a href="#">localhost</a></dd>
										<dt>Email</dt>
										<dd><a href="mailto:"@Config.CompanyEmail"">@Config.CompanyEmail</a></dd>
									</dl>
								</div>
								<div class="col-6 col-12-small">
									<dl class="contact">
										<dt>Address</dt>
										<dd>@Config.CompanyAddress</dd>
										<dt>Phone</dt>
										<dd>@Config.CompanyPhone</dd>
										<dt><a href="https://www.google.com/maps/place/%D0%A1%D0%B2%D0%BE%D0%B1%D0%BE%D0%B4%D1%8B+%D0%BF%D0%BB.,+1,+%D0%9A%D0%B0%D0%B7%D0%B0%D0%BD%D1%8C,+%D0%A0%D0%B5%D1%81%D0%BF.+%D0%A2%D0%B0%D1%82%D0%B0%D1%80%D1%81%D1%82%D0%B0%D0%BD,+420015/@@55.797963,49.1233272,17z/data=!3m1!4b1!4m5!3m4!1s0x415ead152e3d50c3:0x9ea28ba0847eda53!8m2!3d55.79796!4d49.1255159!5m1!1e1?hl=ru-RU">Google Map</a></dt>
									</dl>
								</div>
							</div>
						</div>
					</section>

			</div>
			<div class="col-12">
				<div id="copyright">
					<ul class="menu">
						<li>&copy; @Config.CompanyName. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>